.ui-panel.legend {
  margin: 0 0 .2em;
}
.ui-panel.legend .ui-panel-titlebar {
  padding: .1em .5em;
  font-size: .9em;
  text-align: center;
}
.ui-panel.legend .ui-panel-title {
  margin: 0;
}

.ui-panel.legend .ui-panel-content {
  padding: .2em;
  font-size: .9em;
  text-align: center;
}

.legend table {
  border-spacing: 0;
  margin: 0 auto;
}

.legend td {
    text-align: center;
    vertical-align: middle;
}
.legend th {
    font-size: .8em;
}

