#map {
  width: 520px;
  height: 360px;
  border: 1px solid black;
  position: relative;
}
#dataPoint {
  font-size: 90%;
  background: #ff0;
  border: 1px solid #cc0;
  margin: 2px 0;
  padding: .4em;
}
#dataPoint dt {
  font-weight: bold;
  display: inline-block;
}
#dataPoint dd {
  margin: 0 1em 0 .2em;
  display: inline-block;
}
