.map_controls {
    margin: 5px;
    position:absolute;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: rgb(51, 51, 51);
    text-align: center;
    background: #fff;
    -webkit-user-select: none;
}

.map_controls > div {
    background:#fff;
    margin: 0;
    padding: 1px 6px;
    border: 1px solid rgb(113, 123, 135);
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
}

.map_controls.horizontal > div {
    float: left;
}

.map_controls > div.button {
    cursor: pointer;
    font-size: 13px;
    background: #fff; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #e6e6e6); /* for firefox 3.6+ */   
}

.map_controls > div.button:hover {
    color: black;
}

.map_controls > div.button.active {
    color: black;
    font-weight: bold;
}

.statusBar {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
#status {
    background: #ff0;
    border: 1px solid #990;
    font-family: Arial, sans-serif;
    display: inline;
    font-size: .8em;
    padding: 0 .5em;
    opacity: 0.8;
}

.infoBox {
    margin: 2px;
    font-size: .8em;
    white-space: nowrap;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(113, 123, 135);
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    background: #FDFFDB; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#FDFFDB), to(#FBFFC2)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #FDFFDB, #FBFFC2); /* for firefox 3.6+ */
    padding: 4px;
}
.infoBox a {
    text-decoration: none;
}
.infoBox a:hover {
    text-decoration: underline;
}
.map-overlay {
  position:absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: crosshair;
  opacity: 0;
  background: #fff;
  /* IE8 filter */
  filter: ~"alpha(opacity=0)";
}
