<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.w3.org/1999/xhtml http://www.w3.org/2002/08/xhtml/xhtml1-transitional.xsd"
	template="template.xhtml">


	<ui:define name="script">
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=drawing" type="text/javascript" />
		<script type="text/javascript" src="resources/scripts/map.js" />		
		<script type="text/javascript">
			Map.prototype.BASE_SERVICE_URL = "#{sessionPrefs.rootServiceUrl}";		
		</script>			
		<script type="text/javascript" src="resources/scripts/dlBundle.js" />		
	</ui:define>

	<ui:define name="dialogs">
		<p:dialog width="600" widgetVar="helpDlg" resizable="true"  showEffect="puff"
			header="Product Query Help" modal="false"  closeOnEscape="true" zindex="10">
			<p> This page queries for Shear Wave Splitting products.</p>
			<ul>
				<li> <i>Network, Station, Channel and Location</i> fields can be left blank to act as wildcards.</li>
				<li> <i>Download Selected</i> button will return a zip file containing selected items.</li>
				<li> Items are selected via the left-most column in query results table.</li>		
			</ul>
		</p:dialog>		
	</ui:define>

	<ui:define name="title">
		Shear Wave Splitting Product Query
	</ui:define>

	<ui:define name="productLogo">
		<h:outputLink value="#{facesContext.externalContext.requestContextPath}/swsmeasurement">
			<img src="#{facesContext.externalContext.requestContextPath}/resources/images/swsLogo.png" height="50" width="50"
					border="0" alt="icon" style="float: right; padding: 10px;" />
		</h:outputLink>
	</ui:define>

	<ui:define name="content">

<style type="text/css" >
.map_controls {
    margin: 5px;
    position:absolute;
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: rgb(51, 51, 51);
    text-align: center;
    background: #fff;
    -webkit-user-select: none;
}

.map_controls > div {
    background:#fff;
    margin: 0;
    padding: 1px 6px;
    border: 1px solid rgb(113, 123, 135);
    position: relative;
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 4px;
}

.map_controls.horizontal > div {
    float: left;
}

.map_controls > div.button {
    cursor: pointer;
    font-size: 13px;
    background: #fff; /* for non-css3 browsers */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #e6e6e6); /* for firefox 3.6+ */   
}

.map_controls > div.button:hover {
    color: black;
}

.map_controls > div.button.active {
    color: black;
    font-weight: bold;
}

.statusBar {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
#status {
    background: #ff0;
    border: 1px solid #990;
    font-family: Arial, sans-serif;
    display: inline;
    font-size: .8em;
    padding: 0 .5em;
    opacity: 0.8;
}
</style>
<!--[if IE]>
<style>
.map_controls {
  margin: 3px;
}
</style>
<![endif]-->

		<ui:include src="templates/aboutSws.xhtml" />
		
		<h:outputText>
			<f:event type="preRenderComponent" listener="#{swsQuery.pageInit}"/>
		</h:outputText>		
		
    <div style="float: left; width: 524px;margin:4px;margin-top: 34px">
  		<div id='map' style="width: 520px; height: 360px;border: 1px solid black;" />
      <h:panelGrid columns="2" cellspacing="4" styleClass="map_info">
        <p:panel header="Scale">
          <div><span id="scale_s">1</span>s = <span id="scale_px">1</span>px</div>
          <div id="scale_indicator"></div>
        </p:panel>
        <p:panel header="Color">
            <img width="30px" height="30px" src="#{facesContext.externalContext.requestContextPath}/resources/images/wheel.png" />
            By phi value
        </p:panel>
      </h:panelGrid>
    </div>
		
		<h:form id="spudform">
			
			<script type="text/javascript">
				updateMap();
			</script>
			
			<p:remoteCommand actionListener="#{swsQuery.initQuery}" name="initQuery" 
				update="queryResults, queryControls, spudform" />
			<p:remoteCommand actionListener="#{swsQuery.clearForm}" name="clearForm" />


			<p:panel id="lat" header="Location" >

				<h:panelGrid columns="3" cellspacing="4" style="overflow: hidden">
					<br/>
					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<h:outputText value="Max Lat: " />
					<h:inputText type="text" id="maxLat" style="width: 70px" 
						value="#{swsQuery.locationTimeQueryParams.latMax}"
						onchange="initQuery()" />
					</h:panelGrid>
					<br/>						

					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<h:outputText value="Min Lon: " /> 
					<h:inputText type="text" id="minLon" style="width: 70px" 
						value="#{swsQuery.locationTimeQueryParams.lonMin}"
						onchange="initQuery()" />
					</h:panelGrid>
					<br/>

					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<h:outputText value="Max Lon: " /> 
					<h:inputText type="text" id="maxLon" style="width: 70px" 
						value="#{swsQuery.locationTimeQueryParams.lonMax}"
						onchange="initQuery()" />
					</h:panelGrid>
					
					<br/>
					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<h:outputText value="Min Lat: " /> 
					<h:inputText type="text" id="minLat" style="width: 70px"  
						value="#{swsQuery.locationTimeQueryParams.latMin}"
						onchange="initQuery()" />
					</h:panelGrid>	
					<br/>
							
					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<h:outputText value="Station" />
					<p:autoComplete id='station'
						size="7"
						title="Station name.  Case insensitive."
						value="#{swsQuery.templateItem.station}"
						completeMethod="#{swsQuery.getStations}" 
						onchange="initQuery()"/>	
					</h:panelGrid>
					<br/>	
					
					<h:panelGrid columns="1" style="text-align: center" cellspacing="0">
					<br/>
					<p:commandButton value="Clear" update="spudform, queryResults, queryControls" 
						action="#{swsQuery.clearAll}" />
					</h:panelGrid>
					</h:panelGrid>
					<br/><br/>
					<p:commandButton  value="Download All" 
						action="#" onclick="submitDownloadAll()"/>
	
          <div style="clear: left"></div>
  
			</p:panel>

			
			<p:messages layout="table" />

			<ui:include src="templates/queryControls.xhtml">
				<ui:param name="bean" value="#{swsQuery}" />
				<ui:param name="controlId" value="queryControls" />
				<ui:param name="otherControlId" value="queryControls2" />
			</ui:include>
		</h:form>
		
		<h:form id="mainForm" prependId="false">		
			<p:panel id="queryResults"
				header="Query Results:&#160;&#160;&#160;#{swsQuery.resultsMessage}">
				
				<f:event type="preRenderComponent" listener="#{swsQuery.preRenderResults}"/>

				<p:commandButton id="dlBundle" style="visibility:hidden; height: 0px; width: 0px" 
					ajax="false" action="#{swsQuery.downloadBundle}"  />	
				<p:commandButton id="dlBundleAll" style="visibility:hidden; height: 0px; width: 0px" 
					ajax="false" action="#{swsQuery.downloadBundleAll}"  />	
							
				<p:dataTable id="dataTable" var="ritem"
					value="#{swsQuery.queryResults}" >

			        <p:column style="padding:0px; margin: 0px">
			        	<f:facet name="header">
							<h:selectBooleanCheckbox id="selectAll" onchange="selectAllChecked();"/>				
			        	</f:facet>

			        	<div style="display: block;text-align: center; width: 100%;">
			        		<h:selectBooleanCheckbox class="groupSelect" value="#{ritem.selected}"  />
			        	</div>
			        </p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="Station" />
						</f:facet>
						<h:outputText value="#{ritem.station}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Latitude" />
						</f:facet>
						<h:outputText value="#{ritem.latitude}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="Longitude" />
						</f:facet>
						<h:outputText value="#{ritem.longitude}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="phi" />
						</f:facet>
						<h:outputText value="#{ritem.phi}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="dt" />
						</f:facet>
						<h:outputText value="#{ritem.dt}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Phase" />
						</f:facet>
						<h:outputText value="#{ritem.phase}" />
					</p:column>


					<p:column>
						<f:facet name="header">
							<h:outputText value="Authors"/>
						</f:facet>
						<h:outputText value="#{ritem.authors}" />
					</p:column>
					
					<p:column>
						<f:facet name="header">
							<h:outputText value="Year"/>
						</f:facet>
						<h:outputText value="#{ritem.year}" />
					</p:column>
				</p:dataTable>
			</p:panel>
			
			<ui:include src="templates/queryControls.xhtml">
				<ui:param name="bean" value="#{swsQuery}" />
				<ui:param name="controlId" value="queryControls2" />
				<ui:param name="otherControlId" value="queryControls" />
			</ui:include>
		</h:form>
	</ui:define>
</ui:composition>

